body {
    background-color: rgb(246 246 246);
    font-family: sans-serif;
    margin: 0 10vw;
}

#site-title, #my-title {
    text-align: center;
    font-size:40px
}

h2 {
  text-align:center;
  font-size:36px
}
h3 {
  text-align: center;
  font-size:18px
}

li {
    margin: 16px 0;
}
.left-image {
  justify-content: left;
}
.right-image {
  justify-content: right
}
img {
  align-self:start
}
.row {
  display: flex;
  flex-direction: row;
  gap : 30px;
  align-items:start
}
.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center
}

.tab {
  align-items: left
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  align-items: center
}

p.subtitles {
  font-size: 28px;
  color: #5b5b5be0;
  border-bottom-style: solid;
  border-bottom-width:thin;
}
